name: Build and Test WinForms Application

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up MSBuild
      uses: microsoft/setup-msbuild@v1
      with:
        msbuild-version: '17.8'  # Specify the version appropriate for your project

    - name: Restore NuGet packages
      run: nuget restore Wasspord.sln 

    - name: Build the WinForms project
      run: msbuild Wasspord.sln /p:Configuration=Release

    #- name: Run Tests
    #  run: msbuild WasspordUnitTestProject/WasspordUnitTestProject.csproj /p:Configuration=Release /p:Platform="Any CPU"
